.logo {
  @apply absolute w-32 h-20 ml-16 mt-8 left-0 top-0;
}

.logo :global .cls-2 {
  @apply font-normal fill-current text-white font-Pacifico;
  transform: translate(65px, 180px);
  font-size: 60px;
}

.logo :global .cls-3 {
  @apply stroke-current text-black  bg-opacity-0;
}

.logoOrange :global .cls-1 {
  @apply fill-current text-FCCorange;
}

.logoBlue :global .cls-1 {
  @apply fill-current text-FCCblue-200;
}

.navBar {
  @apply flex flex-wrap items-center justify-between max-w-5xl mx-auto;
}

.navMenu {
  @apply hidden;
}

.navMenuButton {
  z-index: 1000;
  @apply mr-12 mt-12;
}

.navMenuButton .barsIcon {
  position: relative;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.25s, opacity 0.25s, left 0.5s;
}

.navMenuButton .barsIcon.isExpanded {
  left: -100%;
  visibility: hidden;
  opacity: 0;
}

.navMenuButton .timesIcon {
  position: absolute;
  top: 0;
  left: 120%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s, opacity 0.25s, left 0.5s;
}

.navMenuButton .timesIcon.isExpanded {
  left: 20%;
  visibility: visible;
  opacity: 1;
}

.navMenuItems {
  @apply block mt-4 font-medium text-FCCgray-200 no-underline font-Roboto text-xl uppercase;
}

.navMenuItems:hover {
  @apply text-FCCblue-200;
}

@screen md {
  .logo {
    @apply h-32 w-48 ml-16 mt-8;
  }

  .navBar {
    @apply px-8;
  }

  .navMenuButton {
    @apply hidden;
  }

  .navMenu {
    @apply flex items-center w-auto py-10;
  }

  .navMenuItems {
    @apply inline-block mt-0 ml-6;
  }
}
