@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700;900&display=swap%27');

/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

.mainSection {
  @apply w-full py-20;
}

.mainSectionContent {
  @apply w-full max-w-6xl px-4 mx-auto;
}

.mainSectionOne {
  @apply flex flex-col-reverse font-Roboto text-FCCgray-200;
}

.mainSectionOne h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  @apply mb-5 font-bold;
}

.mainSectionOne p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@screen md {
  .mainSectionOne {
    @apply flex-row;
  }

  .mainSectionOne h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

.fccDivider {
  @apply w-full text-center text-white py-8 bg-FCCblue-200;
}

.fccDivider h2 {
  font-size: 2.75rem;
  line-height: 2.75rem;
  @apply inline-block font-bold font-Roboto;
}

@screen md {
  .fccDivider h2 {
    font-size: 3rem;
    line-height: 1;
  }
}
