body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
  width: 60vw;
  height: 600px;
  margin: 15px auto;
  margin-top: 160px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:before {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  top: -2px;
  left: -2px;
  z-index:-1;
  border-left: 5px solid black;
  border-top: 5px solid black;
}
.box:after {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  right: -2px;
  bottom: -2px;
  z-index:-1;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

.intro-content h1 {
  font-size: 42px;
}

.main-header {
  position: absolute;
  text-align: center;
}

.main-header h1 {
  font-size: 42px;
}

.nav-menu {
  position: absolute;
  transition: opacity 2s linear;
  visibility: visible;
  opacity: 1;
}

.hidden{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
